body {
    
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}
section {
    margin: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    width: 100%;
    
    background-color: pink;
}
#navbar li {
    float: right;

    font-size: 1.5rem;
}
#navbar li a {
    display: block;
    padding: 1rem;
    background-color: #dddddd;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: blue;
}

#recipes {
    width: 100%;
    background-color: lightsalmon;
    border-collapse: collapse
}
#recipes thead {
    background-color: palevioletred;
}
#recipes tr {
    border-bottom: 1px solid black;
}
#recipes th, td {
    padding: 10px;
    border: none;
}

#book {
    width: 70%;
    height: 38rem;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    background-color:rosybrown;
}
.page {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    scrollbar-width: none;   
}
#divider {
    width: 0.5rem;
    height: 38rem;
    background-color: darkblue;
}
#book ul {
    list-style-type:square;
}



.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.text-center {
    text-align: center;
}

.top-space {
    margin-top: 80px;
}

.new-recipe-button {
    float: right;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    background-color: darkcyan;
}

.page-button {
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}
.page-button button {
    padding: 10px;
    color: white;
    background-color: midnightblue;
}
